:root
{
    --light-text-clr:#BBBBBB;
    --dark-txt-clr:#444444;
    --js-site-text:#515151;
    --heading-clr:#1B2A49;
    --gray-bg:#465881;
    --attention-clr:#1B2A49;

    scroll-behavior: smooth;
    font-size: 18px;
    line-height: 1.3;
}
*,
*::after,
*::before
{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body
{
    background-color: white;
    color:var(--js-site-text);
}
a
{
    text-decoration: none;
    color:inherit;
}
button
{
    background-color: inherit;
    border:none;
    cursor: pointer;
}
ul
{
    list-style-type: none;
}
img
{
    display:block;
    max-width: 100%;
    object-fit: cover;
}
h1,
h2,
h3
{
    color:var(--heading-clr);
    margin:2rem 0;
    text-align: center;
}
h1
{
    font-size:2.1rem;
}
h2
{
    font-size: 1.6rem;
}
h3
{
    font-size: 1.3rem;
}
@media all and (min-width:1000px)
{
    h1
    {
        font-size: 1.8rem;
    }
    h2
    {
        font-size: 1.4rem;
    }
    h3
    {
        font-size: 1.2rem;
    }
    p
    {
        line-height: 1.6;
    }
}