.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary-clr);
  margin-bottom: 3rem;
  padding: 0.5rem;
}
.nav-bar__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-bar__item {
  padding: 0.5rem 1rem;
  color: var(--heading-clr);
  font-weight: 500;
  font-size: 1.1rem;
  cursor: pointer;
}
a {
  color: inherit;
}
/* .nav-bar__link {
  color: var(--white);
} */
/* .nav-bar__item:hover {
  color: var(--attention-clr);
  border-color: var(--attention-clr);
} */
@media all and (min-width: 1000px) {
  .main-header {
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
  }
  .nav-bar__list {
    flex-direction: row;
    align-items: baseline;
  }
}
