.intro {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}
.main-content {
  width: min(95%, var(--max-width));
  margin: 0 auto;
}
.skills,
.projects {
  display: grid;
  margin-bottom: 3rem;
  gap: 1rem;
  grid-template-columns: 1fr;
}
.skill,
.project {
  border-radius: 0.25rem;
  text-align: center;
  box-shadow: var(--shadow-2);
  padding-bottom: 1rem;
}
.project img {
  margin-bottom: 1rem;
  overflow: hidden;
}
.skill__img {
  width: 70%;
  height: 200px;
  object-fit: contain;
  margin: 0 auto 1rem;
  overflow: hidden;
}
.project h4 {
  text-align: center;
}
.project p
{
  margin-bottom: 1.5rem;
}
.blue {
  color: var(--blue);
}
.skill i {
  font-size: 0.5rem;
  color: var(--btn-bg-clr);
}
footer {
  text-align: center;
  padding: 2rem;
  background-color: var(--secondary-clr);
}
@media screen and (min-width: 1200px) {
  .intro {
    flex-direction: row;
    justify-content: space-between;
  }
  .intro__desc {
    flex-basis: 50%;
  }
  .intro__img {
    flex-basis: 30%;
    border-radius: 1rem;
  }
  .skills,
  .projects {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
